.product-card {
    box-shadow: 4px 6px 8px #d4d0ff;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;

}

.product-card img {
    width: 200px;
    height: 300px;
}